*{
    box-sizing: border-box;
    padding: 10px;
    margin: 0;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    font-size: 18px;
    line-height: 1.6;
    font-weight: normal;
    color: black;
    text-align: justify;
}

header{
    padding: 10px;
    background-color: aqua;
    text-align: center;
}

nav{
    display: flex;
    flex-direction: row;
    background-color: #333;
}

nav a{
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bolder;
}

.row{
    display: flex;
    flex-wrap: 20px;
}

aside{
    flex: 30px;
    background-color: aqua;
    padding: 20px;

}

section{
    flex: 70%;
    background-color: white;
    padding: 20px;


}

footer{
    padding: 40px;
    text-align: center;
    background-color: palevioletred;
}

@media secreen and (max-width: 700px){
    nav, .row{
        flex-direction: column;
    }
}